<!DOCTYPE html>
<html lang="en">
<head>
    {{>head}}
</head>
<body>
    <div class="box">
        <form action="https://weather-app-by-himanshu-rw.herokuapp.com/data" method="get">
        <input type="text" name="cityName" placeholder="City Name...">
        <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>